AddDefaultCharset UTF-8
<Files *.pdf>
ForceType application/octet-stream
Header set Content-Disposition attachment
</Files>
<Files *.mp3>
ForceType application/octet-stream
Header set Content-Disposition attachment
</Files>
<Files *.rtf>
ForceType application/octet-stream
Header set Content-Disposition attachment
</Files>
<Files *.doc>
ForceType application/octet-stream
Header set Content-Disposition attachment
</Files>