.box-text-RI{
	font-family: 'russo one';
	font-size: 18px;
	line-height: normal;
	color: 000;
	text-align: justify;
	text-indent:15px;
	color: #000000;
	min-height: auto;
}
.box-text-ADS{
	font-family: 'russo one';
	font-size: 18px;
	line-height: normal;
	color: 000;
	text-align: justify;
	text-indent:15px;
	color: #000000;
	min-height: 110px;
}
.box-text-AG{
	font-family: 'russo one';
	font-size: 18px;
	line-height: normal;
	color: 000;
	text-align: justify;
	text-indent:15px;
	color: #000000;
	min-height: 135px;
}
.box-text-AM{
	font-family: 'russo one';
	font-size: 18px;
	line-height: normal;
	color: 000;
	text-align: justify;
	text-indent:15px;
	color: #000000;
	min-height: 50px;
}
.box-text-AMP{
	font-family: 'russo one';
	font-size: 18px;
	line-height: normal;
	color: 000;
	text-align: justify;
	text-indent:15px;
	color: #000000;
	min-height: 100px;
}
.box-text-ASA{
	font-family: 'russo one';
	font-size: 18px;
	line-height: normal;
	color: 000;
	text-align: justify;
	text-indent:15px;
	color: #000000;
	min-height: 70px;
}
.box-text-AO{
	font-family: 'russo one';
	font-size: 18px;
	line-height: normal;
	color: 000;
	text-align: justify;
	text-indent:15px;
	color: #000000;
	min-height: 100px;
}
.box-text-APS{
	font-family: 'russo one';
	font-size: 18px;
	line-height: normal;
	color: 000;
	text-align: justify;
	text-indent:15px;
	color: #000000;
	min-height: 70px;
}
.box-text-AAA{
	font-family: 'russo one';
	font-size: 18px;
	line-height: normal;
	color: 000;
	text-align: justify;
	text-indent:15px;
	color: #000000;
	min-height: 120px;
}



/***********boxMOM1-Microsoft Office Mobile***************/
.ico-boxMOM1{
	width: auto;
	height: 170px;
	background: url(ico/MOM.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxMOM1:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxMOM2-officesuite****************/
.ico-boxMOM2{
	width: auto;
	height: 170px;
	background: url(ico/officesuite.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxMOM2:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxMOM3-Polyris****************/
.ico-boxMOM3{
	width: auto;
	height: 170px;
	background: url(ico/PolyrisO.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxMOM3:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxMOM4-Smart****************/
.ico-boxMOM4{
	width: auto;
	height: 170px;
	background: url(ico/Smart.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxMOM4:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxMOM5-adobe-red****************/
.ico-boxMOM5{
	width: auto;
	height: 170px;
	background: url(ico/adobe-red01.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxMOM5:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxMOM6-****************/
.ico-boxMOM6{
	width: auto;
	height: 170px;
	background: url(ico/fbreader.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxMOM6:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/*******************************************/
.box000-AG{
	width: 280px;
	display: inline-block;
	margin: 15px;
	height: 625px;
	border-radius: 20px;		
}
.box-AG{
	width: 280px;
	display: inline-block;
	height: 455px;
	background: #D4D4D4;
	padding: 15px;
	border-radius: 20px 20px 0 0;
}
.boots01-AG{
	margin-top: 10px;
	width: auto;
	font-family: 'russo one';
	font-size: 30px;
	line-height: normal;
	text-transform: uppercase;
	color: 000;
	height: 80px;
	background: #0F7699;
	padding-top: 23px
}
.boots01-AG:hover{
	background: #01BEFF;
}


/***************boxAG1-FaceTune****************/
.ico-boxRIN1{
	width: auto;
	height: 200px;
	background: url( ico/rus-ring.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 5px;
	margin-bottom: 5px;		  
}
.ico-boxRIN1:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAG2-Lightroom*****************/
.ico-boxRIN2{
	width: auto;
	height: 200px;
	background: url( ico/en-rings.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 5px;
	margin-bottom: 5px;		  
}
.ico-boxRIN2:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAG3-Photo Studio PRO****************/
.ico-boxRIN3{
	width: auto;
	height: 200px;
	background: url( ico/ot-rings.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 5px;
	margin-bottom: 5px;		  
}
.ico-boxRIN3:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
.ico-boxRIN4{
	width: auto;
	height: 200px;
	background: url( ico/sound-rings.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 5px;
	margin-bottom: 5px;		  
}
.ico-boxRIN4:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAG4-Photoshop Express****************/
.ico-boxAG4{
	width: auto;
	height: 170px;
	background: url(ico/PhotoshopE.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAG4:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAG5-PhotoSuite 4 PRO****************/
.ico-boxAG5{
	width: auto;
	height: 170px;
	background: url(ico/PhotoSuitePro.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAG5:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAG6-TouchDraw****************/
.ico-boxAG6{
	width: auto;
	height: 170px;
	background: url(ico/TouchDraw.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAG6:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/*******************************************/
.box000-AMP{
	width: 280px;
	display: inline-block;
	margin: 15px;
	height: 625px;
	border-radius: 20px;		
}
.box-AMP{
	width: 280px;
	display: inline-block;
	height: 455px;
	background: #D4D4D4;
	padding: 15px;
	border-radius: 20px 20px 0 0;
}
.boots01-AMP{
	margin-top: 10px;
	width: auto;
	font-family: 'russo one';
	font-size: 30px;
	line-height: normal;
	text-transform: uppercase;
	color: 000;
	height: 80px;
	background: #0F7699;
	padding-top: 23px
}
.boots01-AMP:hover{
	background: #01BEFF;
}


/***************boxAMP1-BSplayer****************/
.ico-boxAMP1{
	width: auto;
	height: 170px;
	background: url(ico/BSplayer.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAMP1:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAMP2-FreeTV*****************/
.ico-boxAMP2{
	width: auto;
	height: 170px;
	background: url(ico/FreeTV.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAMP2:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAMP3-HD-Video****************/
.ico-boxAMP3{
	width: auto;
	height: 170px;
	background: url(ico/HD-Video.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAMP3:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAMP4-JETAudio****************/
.ico-boxAMP4{
	width: auto;
	height: 170px;
	background: url(ico/JET.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAMP4:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAMP5-MXPlayer****************/
.ico-boxAMP5{
	width: auto;
	height: 170px;
	background: url(ico/MXPlayer.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAMP5:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAMP6-nPlayer****************/
.ico-boxAMP6{
	width: auto;
	height: 170px;
	background: url(ico/nPlayer.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAMP6:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAMP7-PlayerProMusic****************/
.ico-boxAMP7{
	width: auto;
	height: 170px;
	background: url(ico/PlayerProMusic.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAMP7:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAMP8-LaimHD****************/
.ico-boxAMP8{
	width: auto;
	height: 170px;
	background: url(ico/LaimHD.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAMP8:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/*******************************************/
.box000-ADS{
	width: 280px;
	display: inline-block;
	margin: 15px;
	height: 625px;
	border-radius: 20px;		
}
.box-ADS{
	width: 280px;
	display: inline-block;
	height: 455px;
	background: #D4D4D4;
	padding: 15px;
	border-radius: 20px 20px 0 0;
}
.boots01-ADS{
	margin-top: 10px;
	width: auto;
	font-family: 'russo one';
	font-size: 30px;
	line-height: normal;
	text-transform: uppercase;
	color: 000;
	height: 80px;
	background: #0F7699;
	padding-top: 23px
}
.boots01-ADS:hover{
	background: #01BEFF;
}


/***************boxADS1-******************/
.ico-boxADS1{
	width: auto;
	height: 170px;
	background: url(ico/CCliner01.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxADS1:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxADS2-******************/
.ico-boxADS2{
	width: auto;
	height: 170px;
	background: url(ico/AppCache.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxADS2:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxADS3-******************/
.ico-boxADS3{
	width: auto;
	height: 170px;
	background: url(ico/LBESecurity.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxADS3:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxADS4-******************/
.ico-boxADS4{
	width: auto;
	height: 170px;
	background: url(ico/SDMAID.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxADS4:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/*******************************************/
.box000-APS{
	width: 280px;
	display: inline-block;
	margin: 15px;
	height: 450px;
	border-radius: 20px;		
}
.box-APS{
	width: 280px;
	display: inline-block;
	height: 370px;
	background: #D4D4D4;
	padding: 15px;
	border-radius: 20px 20px 0 0;
}
.boots01-APS{
	margin-top: 10px;
	width: auto;
	font-family: 'russo one';
	font-size: 30px;
	line-height: normal;
	text-transform: uppercase;
	color: 000;
	height: 80px;
	background: #0F7699;
	padding-top: 23px;
	border-radius: 0 0 20px 20px;
}
.boots01-APS:hover{
	background: #01BEFF;
}


/***************boxAPS1-******************/
.ico-boxAPS1{
	width: auto;
	height: 170px;
	background: url(ico/4PDA.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAPS1:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAPS2-******************/
.ico-boxAPS2{
	width: auto;
	height: 170px;
	background: url(ico/Proshivkis.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAPS2:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAPS3-******************/
.ico-boxAPS3{
	width: auto;
	height: 170px;
	background: url(ico/OMNI.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAPS3:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxAPS4-******************/
.ico-boxAPS4{
	width: auto;
	height: 170px;
	background: url(ico/cyanogenmod.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAPS4:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/*******************************************/
.box000-ASA{
	width: 280px;
	display: inline-block;
	margin: 15px;
	height: 540px;
	border-radius: 20px;		
}
.box-ASA{
	width: 280px;
	display: inline-block;
	height: 370px;
	background: #D4D4D4;
	padding: 15px;
	border-radius: 20px 20px 0 0;
}
.boots01-ASA{
	margin-top: 10px;
	width: auto;
	font-family: 'russo one';
	font-size: 30px;
	line-height: normal;
	text-transform: uppercase;
	color: 000;
	height: 80px;
	background: #0F7699;
	padding-top: 8px
}
.boots01-ASA:hover{
	background: #01BEFF;
}
.ico-boxRINGE1{
	width: auto;
	height: 200px;
	background: url( ico/ring-01.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxRINGE1:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
.ico-boxRINGE2{
	width: auto;
	height: 200px;
	background: url( ico/ring-02.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxRINGE2:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
.ico-boxRINGE3{
	width: auto;
	height: 200px;
	background: url( ico/ring-03.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxRINGE3:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
.ico-boxRINGE4{
	width: auto;
	height: 200px;
	background: url( ico/ring-04.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxRINGE4:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
.ico-boxRINGE5{
	width: auto;
	height: 200px;
	background: url( ico/ring-05.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxRINGE5:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}


.ico-boxRING1{
	width: auto;
	height: 170px;
	background: url(ico/ring01.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxRING1:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxASA2-******************/
.ico-boxRING2{
	width: auto;
	height: 170px;
	background: url(ico/ring02.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxRING2:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/***************boxASA3-******************/
.ico-boxRING3{
	width: auto;
	height: 170px;
	background: url(ico/ring03.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxRING3:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}
/*****************************************/
.box000-MA{
	width: 280px;
	display: inline-block;
	margin: 15px;
	height: 470px;
	border-radius: 20px;
}
.box-MA{
	width: 280px;
	display: inline-block;
	height: 300px;
	background: #D4D4D4;
	padding: 15px;
	border-radius: 20px 20px 0 0;
}
.boots01-MA{
	margin-top: 10px;
	width: auto;
	font-family: 'russo one';
	font-size: 30px;
	line-height: normal;
	text-transform: uppercase;
	color: 000;
	height: 80px;
	background: #0F7699;
	padding-top: 23px;
}
.boots01-MA:hover{
	background: #01BEFF;
}
/***************boxMA1-******************/
.ico-boxMA1{
	width: auto;
	height: 170px;
	background: url(ico/PDF.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxMA1:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}4{
	width: auto;
	height: 170px;
	background: url(ico/PhotoshopE.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;		  
}
.ico-boxAG4:hover{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-animation-name: cog;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: cog;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
   -ms-animation-name: cog;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
 
  animation-name: cog;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes cog {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }	  
}